@import '../../styles/common';

.secondary {
  background-color: $dps-secondary-color;
  color: white;
}
.secondary-volunteer {
  //color: white;
  padding: $padding-medium;

  .secondary-volunteer-details {
    padding: $padding-small;

    h5.title {
      margin-bottom: 0;
    }
  }

  .secondary-volunteer-image {
    display: flex;
    justify-content: center;

    .image-circle-cropper {
      width: 100%;
      height: auto;
    }
  }
}

.volunteer-section {
  margin-bottom: $padding-large;
}

.image-circle-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (min-width: $breakpoint-md) {
  .primary-volunteer {
    height: 190px;
  }
}

@media (min-width: $breakpoint-lg) {
  .primary-volunteer {
    height: 225px;
  }
}
