body 
{ 
  width: 1080px;
  font-family: 'Lato',arial,sans-serif;
  margin: 0px auto;
} 

.clickable
{
  cursor: pointer;
}

.masthead
{
    display: flex;
}

.masthead .logo {
    width: 30%;
}

.masthead .logo img {
    width: 100%;
}

.masthead .nav {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.masthead .primary-link{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding: 4px 8px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 14px;
}

.masthead .primary-link.selected,
.masthead .primary-link:hover {
    border: 1px solid;
}

.hero {
    height: 420px;
    background-color: rgb(32,51,9);
    color: white;
}

.hero .header{
    padding: 30px 0px 10px 10px;
    font-size: 30px;
    text-align: center;
}

.main {
  display: flex;
}

.main-panel {
  padding: 2rem;
  margin: 1rem 0;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.main-panel img.icon {
  height: 2rem;
}

.main-panel .header {
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: inset 0 -2rem rgb(246, 244, 224);
  height: 3rem;
  padding: 0 1rem;
  width: 90%;
}

.news {
  width: 55%;
  border-right: 2px solid rgb(32,51,9);
}

.news .header {
    /*height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;*/
}


.news .body {
    padding: 1em 3em;
}

.events {
  width: 45%;
  
}

.events .faq-button {
  position: absolute;
  top: -8rem;
  right: 0;
}

.footer {
    height: 100px;
    text-align: center;
    border-top: 3px solid black;
    font-size: 14px;
}

.footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

/**** Upcoming Events styling ****/
div.dates {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgb(225, 227, 222);
  padding: 1em;
}

.dates span.event {
  text-align: center;
}

.dates div.event-date {
  font-size: 48px;
  margin-bottom: 5px;
}

.dates div.event-day {
  font-size: 26px;
}

.dates div.event-time {
  font-size: 18px;
}

div.adoption-details {
  font-size: 26px;
  line-height: 36px;
}

/**** Carousel styling ****/

/* Featured carousel */

.featured_img {
  padding: 20px;
  margin-bottom: 20px;
  max-height: 475px;
  overflow: hidden;
}

.featured .featured-current {
  display: flex;
  height: inherit;
}

.featured-body {
  flex: 1;
  font-size: larger;
  line-height: 32px;
}

.featured-body h2 {
  font-size: xx-large;
  font-weight: bold;
}

.featured-body a {
  color: rgb(32, 51, 9);
}

/* End Featured carousel styling */

/* Adoptable carousel styling */

.adoptable .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adoptable .slick-slide > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6em;
  position: relative;
}

.adoptable .slick-slide > a > img {
  max-height: 350px;
  max-width: 90%;
}

.adoptable .slick-slide > a > div.adoptable-info-overlay {
  position: absolute;
  height: 0;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: white;
  opacity: 0.6;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.adoptable .slick-slide > a:hover > div.adoptable-info-overlay {
  height: 100%;
}

.adoptable .slick-slide > a:hover > div.adoptable-info-overlay .adoptable-info {
  padding: 1em;
}

/* End adoptable carousel styling */

/* Get rid of annoying border that appears when navigating carousel */
.slick-slide:focus { 
  outline: none; 
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: white;
}

.slick-prev:before, .slick-next:before {
  color: rgb(32, 51, 9);
}


/**** End Carousel Styling ****/