h2 {
  text-align: center;
}

.application-buttons {
  display: flex;
  justify-content: space-around;

  a {
    @include button();
  }
}

.application-steps {
  li {
    text-transform: uppercase;
    font-weight: bold;
  }
}
