@import '../../styles/common';

$carousel-arrow-distance: -50px;

.card {
  margin-bottom: $padding-large;
}

.sticky-dog {
  padding: $padding-large;

  .left {
    padding-right: $padding-large;

    img {
      max-width: 100%;
      margin-bottom: $padding-medium;
    }
  }

  .right {
    .bio {
      //max-height: 400px;
      overflow-y: auto;
      margin-bottom: $padding-medium;
    }
  }
}

.paypal {
  .paypal-button {
    text-align: center;
  }
}