@import '../../styles/common';

h2.application-heading {
  text-align: center;
}

.application-buttons {
  margin: $padding-large 0;
  display: flex;
  justify-content: space-around;

  a {
    @include button();
    margin: 0 .5em;
  }
}

.application-steps {
  li {
    text-transform: uppercase;
    font-weight: bold;
  }
}
