@import 'variables';

@mixin feature {
  margin-bottom: $padding-medium;
  padding: $padding-medium;

  img {
    max-width: 100%;
    margin: $padding-small 0;
  }
}

@mixin button {
  background-color: $dps-primary-color;
  padding: $padding-medium $padding-large;
  color: white;
  text-decoration: none;
  border: 3px solid $dps-primary-color;

  &:hover {
    border: 3px solid $dps-secondary-color;
  }
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}