.faq {
  .faq-section {
    margin-bottom: $padding-large;

    .image {
      padding-right: $padding-large;

      img {
        width: 100%;
      }
    }

    .application-link {
      text-align: center;
      margin-top: $padding-large;

      a {
        @include button-primary();
        display: inline-block;
      }
    }
  }
}