@import 'common';

.hero-button {
  background-color: $dps-secondary-color;
  margin-top: $padding-medium;
  padding: $padding-medium;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.hero {
  @include flex-centered();
  justify-content: space-between;

  .logo {
    img {
      max-width: 100%;
      border: none;
    }
  }

  .title {
    @include flex-centered();
    font-family: Volkhov;

    h1 {
      color: $dps-secondary-color;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5em;
    }

  }

  .social {
    @include flex-centered();
    flex-direction: column;

    .small {
      @include flex-centered();
    }

    a {
      margin: $padding-small;
    }

    form {
      text-align: center;
      margin-top: $padding-small;
    }
  }
}

// Tighten up the title at sm and xs
@media (max-width: $breakpoint-lg) {
  .hero {
    .title {
      //display: block;

      h1 {
        //text-align: initial;
        font-size: 2em;
      }
    }
  }
}

// Tighten up the title at sm and xs
@media (max-width: $breakpoint-md) {
  .hero {
    .logo {
      img {
        max-height: 100px;
      }
    }
  }
}
