@import 'common';

$card-box-shadow: 3px 3px 10px 2px rgba(207, 207, 207, 1);

.features {
  padding: $padding-large $padding-large $padding-large 0;
}

.sidebar {
  padding: $padding-large 0 $padding-large 0;
}

.featured {
  @include feature();

  // Fix stupid unnecessarily giant iframe from GoFundMe embed
  .gfm-embed iframe {
    max-height: 15em !important;
  }
}

@media (max-width: $breakpoint-md) {
  .features {
    padding-right: 0;
  }
}