@import 'variables';

$border-thickness: 1.5px;

nav {
  display: flex;
  padding: $padding-medium 0;

  a.nav-link, a.nav-link:visited {
    flex-grow: 1;
    text-align: center;
    padding: $padding-small 0;
    margin: 0 $padding-small;
    border-top: $border-thickness solid $text-color;
    border-bottom: $border-thickness solid $text-color;
  }

  a {
    color: $text-color;
    text-transform: uppercase;
    text-decoration: none;
  }

  ul.subnav {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: rgb(232, 232, 232);
    z-index: 1;
    padding: 0 $padding-small;
    top: 7.5rem;

    li {
      padding: $padding-small;
    }
  }

  a:hover ul.subnav {
    display: block;
    opacity: 0.95;
  }
}

.hero {
  .logo {
    img {
      max-width: 100%;
    }
  }

  .title {
    padding-left: $padding-large;
    font-family: Volkhov;
  }
}
