$card-box-shadow: 3px 3px 10px 2px rgba(207,207,207,1);

.features {
  padding: $padding-large;

  hr {
    height: 4px;
    color: $dps-secondary-color;
    background-color: $dps-secondary-color;
  }
}

.featured {
  margin-bottom: $padding-medium;
  padding: $padding-medium;

  img {
    max-width: 100%;
    margin: $padding-small 0;
  }
}

.card {
  -webkit-box-shadow: $card-box-shadow;
  -moz-box-shadow: $card-box-shadow;
  box-shadow: $card-box-shadow;
}
