@import 'hero';
@import 'nav';
@import 'carousel';
@import 'twitter';
@import 'events';
@import 'news';
@import 'footer';

// Bootstrap grid requires this
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: $text-color;
}
