@import '../../../styles/common';
@import '../../../styles/modal';

$primary-volunteer-image-size: 150px;
$secondary-volunteer-image-size: 120px;

.primary {

  .primary-volunteer {
    background-color: #EEEEEE;
    padding: $padding-medium;
    margin-bottom: $padding-medium;

    .primary-volunteer-image, .secondary-volunteer-image {
      display: flex;
      justify-content: center;

      .image-circle-cropper {
        width: 100%;
        height: auto;
      }
    }

    .primary-volunteer-details {
      padding: $padding-small;

      .title {
        color: $dps-secondary-color;
      }
    }
  }
}

.secondary {
  background-color: $dps-secondary-color;

  .secondary-volunteer {
    color: white;
    padding: $padding-medium;

    .secondary-volunteer-image, .secondary-volunteer-image {
      display: flex;
      justify-content: center;

      .image-circle-cropper {
        width: 100%;
        height: auto;
      }
    }

    .secondary-volunteer-details {
      padding: $padding-small;
    }
  }
}

.image-circle-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (min-width: $breakpoint-md) {
  .primary-volunteer {
    height: 190px;
  }
}

@media (min-width: $breakpoint-lg) {
  .primary-volunteer {
    height: 225px;
  }
}
