@import '../../styles/common';

$carousel-arrow-distance: -50px;

.carousel {
  @include feature();
  padding: $padding-large;

  .slick-prev {
    left: $carousel-arrow-distance;
  }

  .slick-next {
    right: $carousel-arrow-distance;
  }
}

.sticky-dog {
  .left {
    padding-right: $padding-large;

    img {
      max-width: 100%;
      margin-bottom: $padding-medium;
    }
  }

  .right {
    .bio {
      //max-height: 400px;
      overflow-y: auto;
      margin-bottom: $padding-medium;
    }
  }
}

.paypal {
  .paypal-button {
    text-align: center;
  }
}
