@import '../../styles/common';

.available {
  padding: $padding-medium;
  height: 300px;

  img {
    max-width: 100%;
  }

  .name {
    margin-top: $padding-small;
    font-weight: bold;
  }

  .age,
  .breed {
    color: $text-faint;
    font-size: 0.8em;
  }

}

.social-banner-container {
  @include flex-centered();
  justify-content: space-around;
  text-align: center;

  .social-banner {
    border: 5px solid $dps-primary-color;
    outline: 5px solid $dps-secondary-color;
    padding: $padding-medium;
    margin-bottom: $padding-large;
    width: 100%;

    @include flex-centered();
    justify-content: space-between;

    // paired with the various hidden-foo classes in order to not have to use media queries
    &.social-banner-xs {
      flex-direction: column;

      .image-container {
        @include flex-centered();
        justify-content: space-around;
        width: 100%;
      }
    }
  }

  .image-container {
    .social-icon {
      border-radius: 50px;
    }
  }
}