@import '../../styles/common';

.donate {

  .prose {
    padding-right: $padding-large;
  }

  img {
    width: 100%;
  }

  .sibling-tiles {
    .donate-sibling-tile {
      @include flex-centered;
      flex-direction: column;
      padding: 1em;
    }
  }
}