@import 'styles/carousel';
@import 'styles/common';
@import 'styles/events';
@import 'styles/faq';
@import 'styles/footer';
@import 'styles/hero';
@import 'styles/modal';
@import 'styles/nav';
@import 'styles/news';
@import 'styles/twitter';
@import 'styles/hamburger';

$card-box-shadow: 3px 3px 10px 2px rgba(207, 207, 207, 1);

// Bootstrap grid requires this
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: $text-color;
}

p {
  line-height: 1.5em;
}

a {
  color: $dps-secondary-color;
}

img {
  border: 3px solid white;

  &:hover {
    border: 3px solid $dps-secondary-color;
  }

  &.no-border {
    border: none;

    &:hover {
      border: none;
    }
  }
}

hr {
  height: 4px;
  color: $dps-secondary-color;
  background-color: $dps-secondary-color;
}

.card {
  -webkit-box-shadow: $card-box-shadow;
  -moz-box-shadow: $card-box-shadow;
  box-shadow: $card-box-shadow;
}

.hand:hover {
  cursor: pointer;
}