.hero {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 5%;
  font-size: 1.5rem;
}

.hero::after {
  content: "";
  background: url('https://s3.amazonaws.com/filestore.rescuegroups.org/2594/pictures/animals/10534/10534532/38695317_500x375.jpg');
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.hero .socal {
  text-align: right;
  font-size: initial;
}

.hero .header {
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero .steps {
  margin-top: 2rem;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.hero .steps .step {
  width: 20%;
}

.hero .steps .step img {
  height: 4rem;
}

.hero .steps .step .link {
  text-transform: uppercase;
  font-size: initial;
}


.dogs-cats {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  background-color: rgb(32,51,9);
  text-transform: uppercase;
  color: white;
  padding: 0.6rem;
}

.dogs-cats .active {
  font-weight: bold;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.list .available {
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 15%;
  margin: 1rem;
  background: #eee;
  text-decoration: none;
  color: initial;
  padding: 1rem;
  border: 2px solid #eee;
}

.list .available:hover {
  border: 2px solid green;
}

.list .available .img-container {
  max-height: 10rem;
  overflow: hidden;
}

.list .available .img-container img {
  width: 100%;
}

.list .available .name {
  font-weight: bold;
}

.list .available .age, .list .available .breed {
  line-height: initial;
  font-size: small;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: white;
  border-right: 1px solid #ccc;
  box-shadow: 1px 0px 3px #ccc;
  overflow-x: hidden;
  transition: width .25s ease-in-out;
  -moz-transition: width .25s ease-in-out;
  -webkit-transition: width .25s ease-in-out;
}

.filter.hidden {
  width: 0;
  transition: width .25s ease-in-out;
  -moz-transition: width .25s ease-in-out;
  -webkit-transition: width .25s ease-in-out;
}

.filter .header {
  text-align: center;
  background-color: rgb(32,51,9);;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
}

.filter .close-filter {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.filter .filters {
  padding: 0 1rem 1rem;
}

.filter .facet {
  text-transform: capitalize;
}

.filter .facet .facet-heading {
  margin-bottom: 0.5rem;
}

.filter .facet label {
  display: block;
  margin-left: 1rem;
}