.main-panel {
  padding: 2rem;
  margin: 1rem 0;
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.main-panel img.icon {
  height: 2rem;
}

.main-panel .header {
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: inset 0 -2rem rgb(246, 244, 224);
  height: 3rem;
  padding: 0 1rem;
  width: 100%;
}

.main-panel .body {
  padding: 1em 0;
}
