.news {
  width: 55%;
  border-right: 2px solid rgb(32,51,9);
}

.featured {
  display: flex;
  margin-bottom: 1rem;
}

.featured_img {
  width: 40%;
}

.featured_img img {
  width: 100%;
}

.featured-body {
  width: 60%;
  padding-left: 1rem;
}

.featured-body h2 {
  font-size: x-large;
  margin: 0;
}

.ready-to-adopt {
  background: rgba(129, 191, 82, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  padding-bottom: 2rem;
}