.banner {
  background-color: rgb(32,51,9);
  text-align: center;
  color: white;
  padding: 0.5rem;
}

.banner h1 {
  font-weight: normal;
}

.subheading {
  text-transform: uppercase;
  overflow: hidden;
}

.subheading:before, .subheading:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid black;
}

.subheading:before {
  margin: 0.1em .5em 0 0;
  width: 7%;
}

.subheading:after {
  margin: 0.1em -55% 0 .5em;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 110px;
  height: 110px;
  border: 1.5px solid white;
  border-radius: 100px;
  text-align: center;
  background: rgb(246, 244, 224);
}

.info-circle:hover {
  border-color: rgb(109, 147, 193);
}

.events {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
}

.events .faq {
  width: 65%;
  background: rgb(246, 244, 224);
  /*height: 100%;*/
  padding: 1rem;
}

.events .faq h3 {

}

.events .faq h3:hover {
  cursor: pointer;
}

.events .sidebar {
  font-size: large;
  width: 25%;
  padding: 1rem;
  background-color: rgba(32,51,9, 0.3);
}

.events .sidebar .container {
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;;
}

.events .sidebar .header {
  text-transform: uppercase;
  font-size: xx-large;
  line-height: initial;
}

.events .sidebar .subheader {
  font-size: x-large;
}

.events .sidebar hr {
  width: 80%;
  border: 1px solid black;
}

.events .sidebar a.nonstandard-link {
  text-transform: uppercase;
  border: 1.5px solid gray;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 70%;
  box-shadow: 1px 1px 1px gray;
}

.events .sidebar a.nonstandard-link:hover {
  border-color: rgb(109, 147, 193);
}
